<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cinema.data.user.AccountMapper">
    <resultMap id="User" type="com.example.cinema.po.User">
    </resultMap>

    <insert id="createNewAccount" useGeneratedKeys="true" keyProperty="id">
        insert into user(username,password,identity)
        values(#{username},#{password},#{identity})
    </insert>

    <select id="getAccountByName" resultMap="User">
        select * from user where username=#{username}
    </select>

    <select id="getAllAccount" resultMap="User">
        select * from user;
    </select>

    <update id="updateAccount" parameterType="com.example.cinema.po.User">
        update user set `username`=#{username},`password`=#{password},`identity`=#{identity} where id=#{id}
    </update>

    <delete id="deleteAccount">
        delete from user where id=#{id}
    </delete>

</mapper>